
.RData
.Rhistory
*.pper
.Rproj.user/C635227B/rmd-outputs
.Rproj.user/C635227B/saved_source_markers
.Rproj.user/C635227B/sources/per/t/69485BC2
.Rproj.user/C635227B/sources/per/t/69485BC2-contents
.Rproj.user/C635227B/sources/per/t/CFC57736
.Rproj.user/C635227B/sources/per/t/CFC57736-contents
.Rproj.user/C635227B/sources/prop/1BA350E2
.Rproj.user/C635227B/sources/prop/EB7F4EB7
.Rproj.user/C635227B/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
logos/excel_logo.png
logos/Plotly-logo.png
logos/PowerPoint_logo.png
logos/RStudio-Logo-Flat.png
*.png
*.RData
